__pycache__
*.ckpt
*.pth


/repositories
/venv
/tmp
/model.ckpt

/GFPGANv1.3.pth
/gfpgan/weights/*.pth


/config.json
/log


/styles.csv.bak
/webui-user.bat
/webui-user.sh
/interrogate
/user.css
/.idea
notification.mp3

.vscode


/models/hypernetworks/
/models/Deforum/
/textual_inversion/2022-10-21/fundus/hypernetworks/
/textual_inversion/2022-10-23/unifeye-v0/hypernetworks/
