__pycache__
*.ckpt
*.safetensors
*.pth


/repositories
/venv
/tmp
/model.ckpt

/GFPGANv1.3.pth
/gfpgan/weights/*.pth


/config.json
/log


/styles.csv.bak
/webui-user.bat
/webui-user.sh
/interrogate
/user.css
/.idea
notification.mp3

.vscode

/textual_inversion/2022-10-21/fundus/hypernetworks/
/textual_inversion/
/extensions
/test/stdout.txt
/test/stderr.txt
/cache.json
