__pycache__
*.ckpt
*.pth


/repositories
/venv
/tmp
/model.ckpt

/GFPGANv1.3.pth
/gfpgan/weights/*.pth


/config.json
/log


/styles.csv.bak
/webui-user.bat
/webui-user.sh
/interrogate
/user.css
/.idea
notification.mp3

.vscode

